.card-wrapper {
  padding: 0;
  list-style-type: none;
  max-width: 880px;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.card {
  max-width: 282px;
  height: 361px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.card__image {
  border-radius: 10px 10px 0 0;
  width: 282px;
  height: 282px;
}
.card__caption {
  margin: auto;
  background-color: white;
  width: 282px;
  padding: 25px 30px 25px 20px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.card__title {
  color: black;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.card__icon {
  background-color: white;
  display: flex;
  background-image: url(../images/icons/heart-icon.svg);
  width: 21px;
  height: 18px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.card__icon:hover {
  background-image: rgba(84, 84, 84, 0.6);
  /* I don't know how to make the icon's change upon hover, heellp! */
}
@media screen and (max-width: 620px) {
  .card-wrapper {
    align-items: center;
  }
}
