.footer {
  max-width: 880px;
  margin-top: 67px;
  margin-bottom: 60px;
}
.footer__copyright {
  color: rgba(84, 84, 84, 1);
  font-family: "Inter 400", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}
@media screen and (max-width: 620px) {
  .footer {
    margin: 48px 0 0 0;
  }
  .footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
  }
}
