.footer {
  max-width: 880px;
  margin-top: 67px;
  margin-bottom: 60px;
}
.footer__copyright {
  color: rgba(84, 84, 84, 1);
  font-family: "Inter 400", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
}
