.modal__cardImage_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
}

.card__imageModal-text {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: start;
}

.cardImage__modal-image {
  max-width: 816px;
  max-height: 540px;
  border: none;
  outline: 0;
}

@media screen and (max-width: 320px) {
  .cardImage__modal-image {
    padding: 0;
    max-width: 240px;
    margin: 0;
  }
  .cardImage__imageModalButton {
    right: -30px;
    top: -30px;
    width: 26px;
    height: 26px;
  }
}
