.profile {
  margin-top: 45px;
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 880px;
  font-kerning: normal;
}
.profile__info {
  max-width: 415px;
  margin-left: 30px;
  align-self: center;
  display: grid;
  grid-template-columns: auto 1fr;
}
.profile__image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.profile__title {
  color: white;
  margin: 0 0 16px 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__subheading {
  color: white;
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__arrow {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  padding: 6.5px;
  justify-self: end;
  margin-top: 15px;
  box-sizing: content-box;
  background-image: url(../images/icons/arrow.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.profile__arrow:hover {
  background-image: rgba(84, 84, 84, 0.6);
  border-color: rgba(84, 84, 84, 0.6);
}
.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid white;
  position: absolute;
  justify-self: end;
  align-self: center;
  background-image: url(../images/icons/Add-Button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  background-image: rgba(84, 84, 84, 0.6);
  border-color: rgba(84, 84, 84, 0.6);
}

@media screen and (max-width: 770px) {
  .profile__title {
    font-size: 32px;
    line-height: 1.1;
  }
  .profile__subheading {
    font-size: 16px;
    line-height: 1.2;
  }
  .profile__arrow {
    justify-self: flex-start;
    margin: 11px 0 0 15px;
    padding: 4px;
  }
  .profile__add-button {
    width: 75px;
  }
}
@media screen and (max-width: 620px) {
  .profile {
    max-width: 282px;
    height: 286px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 50px;
  }
  .profile__info {
    max-width: 282px;
    margin: 0 0 86px 0;
  }
  .profile__title {
    font-size: 22px;
    line-height: 1.2;
  }
  .profile__subheading {
    font-size: 14px;
    line-height: 1.2;
  }
  .profile__arrow {
    padding: 4px;
    margin: 2px 0 0 10px;
    background-image: 7.5px 7.5px;
  }
  .profile__add-button {
    align-self: end;
    justify-self: center;
    background-image: 16px 16px;
    box-sizing: border-box;
    padding: 25px 141px;
  }
}
