.profile {
  margin-top: 45px;
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 880px;
  font-kerning: normal;
}
.profile__info {
  height: 77px;
  max-width: 415px;
  margin-left: 30px;
  align-self: center;
  display: grid;
  grid-template-columns: auto 1fr;
}
.profile__image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.profile__title {
  color: white;
  margin: 0 0 16px 0;
  font-family: "Inter 500", Arial, Helvetica, sans-serif;
  font-size: 42px;
  line-height: 1.1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__subheading {
  color: white;
  margin: 0;
  font-family: "Inter 400", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__image-arrow {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  padding: 6.5px;
  justify-self: end;
  margin-top: 15px;
  box-sizing: content-box;
}
.profile__image-arrow:hover {
  border-color: rgba(84, 84, 84, 1);
}
.profile__image_add-button {
  padding: 14px 64px;
  width: 22px;
  height: 22px;
  border: 2px solid white;
  position: absolute;
  justify-self: end;
  align-self: center;
}

.profile__image_add-button:hover {
  border-color: rgba(84, 84, 84, 1);
}
