.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  display: none;

  visibility: hidden;
  opacity: 0;
  transition: visibility 3s linear 0.5s, opacity 3s linear;
}

.modal_opened {
  display: flex;

  visibility: visible;
  opacity: 1;
  transition-delay: 3s;
}

.modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  padding: 36px;
  max-width: 430px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__close {
  top: -45px;
  right: -45px;
  position: absolute;
  background-image: url(../images/icons/close-icon.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 54px;
  margin: 0px;
}
.modal__input {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  padding-bottom: 13px;
}
.modal__input:last-child {
  margin-bottom: 48px;
}
.modal__button {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #000;
  color: #fff;
  height: 50px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 358px;
}
@media screen and (max-width: 630px) {
  .modal__container {
    padding: 25px 20px;
  }
  .modal__close {
    right: 0;
    width: 26px;
    height: 26px;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }
  .modal__input {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
  }
  .modal__button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    width: 238px;
  }
}
