.header {
  width: 100%;
  margin-top: 45px;
  padding-bottom: 41px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.header__icon {
  width: 173px;
  height: 33px;
}
@media screen and (max-width: 700px) {
  .header {
    margin: 0px;
    padding: 0 0 32px 27px;
    box-sizing: border-box;
  }
  .header__icon {
    width: 126px;
    height: 24px;
  }
}
