.profile {
  margin-top: 45px;
  display: grid;
  grid-template-columns: auto 1fr 150px;
  max-width: 880px;
  font-kerning: normal;
}
.profile__info {
  max-width: 415px;
  margin-left: 30px;
  align-self: center;
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
}
.profile__image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.profile__image-button {
  cursor: pointer;
  background-color: transparent;
  box-sizing: content-box;
  border: none;
}

.profile__image-button:hover {
  opacity: 0.6;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-size: contain;
}

.profile__title {
  color: white;
  margin: 0 0 16px 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__subheading {
  color: white;
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__arrow {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  padding: 6.5px;
  justify-self: end;
  margin-top: 15px;
  box-sizing: content-box;
  background-image: url(../images/icons/arrow.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.profile__arrow:hover {
  opacity: 0.6;
}
.profile__add-button {
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  justify-self: end;
  align-self: center;
  background-image: url(../images/icons/Add-Button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  border: solid 2px white;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 770px) {
  .profile__title {
    font-size: 32px;
  }
  .profile__subheading {
    font-size: 16px;
  }
  .profile__arrow {
    justify-self: flex-start;
    margin: 11px 0 0 15px;
    padding: 4px;
  }
  .profile__add-button {
    width: 75px;
  }
}
@media screen and (max-width: 700px) {
  .profile {
    max-width: 282px;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  /* .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 282px;
    margin: 30px 0 36px 0;
  } */

  .profile__info {
    max-width: 282px;
    margin-left: 30px;
    align-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.2;
  }
  .profile__subheading {
    font-size: 14px;
    margin-bottom: 20px;
    align-self: center;
  }
  .profile__arrow {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    padding: 0;
    margin-top: 4px;
    box-sizing: border-box;
  }
  .profile__add-button {
    width: 282px;
    align-self: end;
    justify-self: center;
    background-size: 16px 16px;
  }
}
