@import url(/vendor/normalize.css);
@import url(/vendor/fonts.css);
@import url(/blocks/page.css);
@import url(/blocks/header.css);
@import url(/blocks/profile.css);
@import url(/blocks/card.css);
@import url(/blocks/footer.css);
@media screen and (max-width: 770px) {
  .profile__title {
    font-size: 32px;
    line-height: 1.1;
  }
  .profile__subheading {
    font-size: 16px;
    line-height: 1.2;
  }
  .profile__image-arrow {
    justify-self: flex-start;
    margin: 11px 0 0 15px;
    padding: 4px;
  }
  .profile__image_add-button {
    padding: 14px 32px;
  }
}
@media screen and (max-width: 620px) {
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 28px 19px 36px 19px;
    padding: 0;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    margin: 0px;
    max-width: 326px;
    height: 56px;
  }
  .header__icon {
    width: 126px;
    height: 24px;
  }
  .profile {
    margin-top: 42px;
    max-width: 282px;
    height: 286px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 50px;
  }
  .card__wrapper {
    align-items: center;
  }
  .profile__info {
    max-width: 282px;
    height: 50px;
    margin: 0;
    margin-bottom: 86px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 1.2;
  }
  .profile__subheading {
    font-size: 14px;
    line-height: 1.2;
  }
  .profile__image-arrow {
    padding: 4px;
    margin: 2px 0 0 10px;
  }
  .profile__image_add-button {
    align-self: end;
    justify-self: center;
    width: 16px;
    height: 16px;
    padding: 17px 133px;
  }
  .footer {
    margin: 48px 0 0 0;
  }
  .footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
  }
}
